<p-card header="Veículos">

  <div class="container mb-4">
    <input (ngModelChange)="filtrar()"
           [(ngModel)]="filtro"
           autocomplete="off"
           class="pesquisar"
           maxlength="90"
           pInputText
           placeholder="Pesquisar">
    <button (click)="adicionar()"
            color="primary"
            mat-fab
            title="Novo">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <p-table [value]="filtro.length > 1 ? listaFiltrada : lista">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="modelo">
          <span>Modelo</span>
          <p-sortIcon field="modelo"></p-sortIcon>
        </th>
        <th pSortableColumn="cor">
          <span>Cor</span>
          <p-sortIcon field="cor"></p-sortIcon>
        </th>
        <th pSortableColumn="anoFabricacao">
          <span>Ano</span>
          <p-sortIcon field="anoFabricacao"></p-sortIcon>
        </th>
        <th pSortableColumn="placa">
          <span>Placa</span>
          <p-sortIcon field="placa"></p-sortIcon>
        </th>
        <th pSortableColumn="valor">
          <span>Valor</span>
          <p-sortIcon field="valor"></p-sortIcon>
        </th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template let-rowData pTemplate="body">
      <tr>
        <td>{{rowData?.modelo}}</td>
        <td>{{rowData?.cor}}</td>
        <td>{{rowData?.anoFabricacao}}</td>
        <td>{{rowData?.placa}}</td>
        <td>{{rowData?.valor | currency: 'BRL'}}</td>
        <td>
          <div class="acoes">
            <button (click)="editar(rowData)" mat-icon-button title="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deletar(rowData)" mat-icon-button title="Remover">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="7">Sem registros.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-veiculo-form (addEvent)="salvar($event)">
</app-veiculo-form>
