<p-dialog (onHide)="onHide()"
          [(visible)]="displayForm"
          [header]="editando ? 'Veículo (editando)' : 'Veículo'"
          [modal]="true"
          [style]="{width: '1000px'}">
  <form [formGroup]="form">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="modelo">Modelo:</label>
            <input [(ngModel)]="objeto.modelo"
                   formControlName="modelo"
                   id="modelo"
                   maxlength="90"
                   pInputText>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="cor">Cor:</label>
            <input [(ngModel)]="objeto.cor"
                   formControlName="cor"
                   id="cor"
                   maxlength="40"
                   pInputText>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="anoFabricacao">Ano:</label>
            <input [(ngModel)]="objeto.anoFabricacao"
                   appNumbersOnly
                   formControlName="anoFabricacao"
                   id="anoFabricacao"
                   maxlength="4"
                   pInputText>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="placa">Placa:</label>
            <input [(ngModel)]="objeto.placa"
                   formControlName="placa"
                   id="placa"
                   maxlength="10"
                   pInputText>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="valor">Valor:</label>
            <input [(ngModel)]="objeto.valor"
                   appNumbersOnly
                   formControlName="valor"
                   id="valor"
                   maxlength="10"
                   pInputText>
          </div>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div>
      <button (click)="displayForm = false"
              color="primary"
              mat-raised-button
              title="Cancelar">Cancelar
      </button>
      <button (click)="salvar()"
              color="primary"
              mat-raised-button
              title="Adicionar">Adicionar
      </button>
    </div>
  </p-footer>
</p-dialog>
