<p-card [style]="{width: '350px'}" header="Login">
  <form [formGroup]="form">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="usuario">Usuário:</label>
            <input [(ngModel)]="usuario"
                   formControlName="usuario"
                   id="usuario"
                   pInputText>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input [(ngModel)]="senha"
                   formControlName="senha"
                   id="senha"
                   pInputText
                   type="password">
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-3">
        <button (click)="entrar()" color="primary" mat-raised-button>Entrar</button>
      </div>
    </div>
  </form>
</p-card>
