/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

button {
  outline: none!important;
  .mat-icon {
    margin-bottom: .1em;
  }
}

table {
  mat-icon {
    font-size: 1.4em!important;
    color: #4c4c4c;
  }
  td {
    line-break: anywhere;
  }
  .acoes {
    height: 1em;
    margin-top: -1.3em;
    text-align: center;
  }
}

.pesquisar {
  width: 93%!important;
  margin-right: 1em;
}

.mat-fab {
  z-index: 1;
}
